{% extends "base.html" %}
{% block content %}
<section class="mbr-section form1 cid-rjRmoatvIs" id="form1-1h">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    NUEVA CUENTA</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <div data-form-alert="" hidden="">¡Gracias por completar el registro!</div>
            
                    <form class="mbr-form" action="" method="post" data-form-title="Registro Form">
                        {% csrf_token %}

                        <div class="row row-sm-offset">
                            <div class="col-md-8 multi-horizontal" data-for="apodo">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="apodo-form1-1h">Nombre de usuario*</label>
                                    <input type="text" placeholder="elija el nombre con el que lo verán los demás usuarios" class="form-control" name="apodo" data-form-field="apodo" required="" id="apodo-form1-1h">
                                </div>
                            </div>
                            <div class="col-md-8 multi-horizontal" data-for="contraseña">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="contraseña-form1-1h">Contraseña*</label>
                                    <input type="password" placeholder="mínimo de 8 caracteres" class="form-control" name="contraseña" data-form-field="contraseña" required="" id="contraseña-form1-1h">
                                </div>
                            </div>
                            <div class="col-md-8 multi-horizontal" data-for="contraseña_repetir">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="contraseña_repetir-form1-1h">Repetir contraseña*</label>
                                    <input type="password" placeholder="repita la misma contraseña ingresada" class="form-control" name="contraseña_repetir" data-form-field="contraseña_repetir" required="" id="contraseña_repetir-form1-1h">
                                </div>
                            </div>
                            <div class="col-md-8 multi-horizontal" data-for="nombre">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="nombre-form1-1h">Nombre*</label>
                                    <input type="text" placeholder="su nombre de pila" class="form-control" name="nombre" data-form-field="nombre" required="" id="nombre-form1-1h">
                                </div>
                            </div>
                            <div class="col-md-8 multi-horizontal" data-for="apellido">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="apellido-form1-1h">Apellido*</label>
                                    <input type="text" placeholder="su apellido" class="form-control" name="apellido" data-form-field="apellido" required="" id="apellido-form1-1h">
                                </div>
                            </div>

                            <div class="col-md-8 multi-horizontal" data-for="telefono">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="telefono-form1-1h">Teléfono*</label>
                                    <input type="tel" placeholder="ejemplo: 099223344" class="form-control" name="telefono" data-form-field="telefono" required="" id="telefono-form1-1h">
                                </div>
                            </div>
                            <div class="col-md-8 multi-horizontal" data-for="mostrar_tel">
                              <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="mostrar_tel-form1-1h"></label>
                                <label class="checkbox-inline" for="mostrar_tel-0">
                                  <input type="checkbox" name="mostrar_tel" data-form-field="mostrar_tel" id="mostrar_tel-form1-1h">Acepto que mi teléfono de contacto sea mostrado a otros usuarios registrados que soliciten la información.
                                </label>
                              </div>
                            </div>

                            <div class="col-md-8 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-1h">e-mail*</label>
                                    <input type="email" placeholder="ejemplo: miemail@mihost.com" class="form-control" name="email" data-form-field="email" required="" id="email-form1-1h">
                                </div>
                            </div>
                            <div class="col-md-5 multi-horizontal" data-for="mostrar_email">
                              <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="mostrar_email-form1-1h"></label>
                                <label class="checkbox-inline" for="mostrar_email-0">
                                  <input type="checkbox" name="mostrar_email" data-form-field="mostrar_email" id="mostrar_email-form1-1h">Acepto que mi e-mail de contacto sea mostrado a otros usuarios registrados que soliciten la información.
                              </label>
                              </div>
                          </div>
                        </div>

                        <div>
                            <p><i>Todos los campos marcados con * son obligatorios<i></p>
                        </div>

                        <span class="input-group-btn">
                            <button href="" type="submit" class="btn btn-primary btn-form display-4">CREAR CUENTA</button>
                        </span>

                        <div><hr></div>

                        <div class="row row-sm-offset">
                            <div class="col-md-6 multi-horizontal">
                                <div class="form-group">o registrarse con:   
                                    <a href="#">
                                        <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                    <a href="#">
                                        <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                    <a href="#">
                                        <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}