{% extends "base.html" %}
{% block content %}

<section class="features11 cid-rjXAQpuDCA" id="features11-1g">

    

    

    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure m-auto" style="width: 50%;">
                    {% load static %}
                    <img src="{% static 'core/images/bella_L.jpeg' %}" alt="" title="">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">
                        Bella</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5">01/03/2019 – Montevideo, calle Racine</p>
                    </div>

                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                     
                                <div class="media-body">
                                    <p class="block-text mbr-fonts-style display-4"><strong>Raza: </strong>Akita</p>
                                    <p class="block-text mbr-fonts-style display-4"><strong>Tamaño: </strong>Mediano (entre 10 y 25 kg)</p>
                                    <p class="block-text mbr-fonts-style display-4"><strong>Características: </strong>Hembra, joven</p>
                                    <p class="block-text mbr-fonts-style display-4"><strong>Color: </strong>blanco</p>
                                    <p class="block-text mbr-fonts-style display-4"><strong>Pelo: </strong>liso, largo</p>
                                    <p class="block-text mbr-fonts-style display-4"><strong>Notas: </strong>Tiene una mancha en el lomo</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <span class="input-group-btn">
              <button href="" onclick="history.back()" type="submit" class="btn btn-white btn-form display-4">VOLVER</button>
            </span>
        </div> 

    </div>          
</section>

{% endblock %}