<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'core/images/logoacaestoy-nav.gif' %}" type="image/x-icon">
  <meta name="description" content="acaestoy es un sitio dedicado a encontrar mascotas extraviadas. Se pueden publicar mascotas perdidas y mascotas encontradas. Se puede buscar entre las mascotas reportadas, filtrando los resultados, o desde el mapa. Se puede contactar a quienes reportaron mascotas.">
  <title>acaestoy {% block title %}{% endblock %}</title>
  <!-- Estilos y fuentes del template  -->
  <link rel="stylesheet" href="{% static 'core/web/assets/mobirise-icons/mobirise-icons.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/tether/tether.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap-grid.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap-reboot.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/dropdown/css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/socicon/css/styles.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/datatables/data-tables.bootstrap4.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/theme/css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/mobirise/css/mbr-additional.css' %}" type="text/css">
  
  
  <link rel="stylesheet" type="text/css" href="{% static 'core/propio/styleForms.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/propio/features.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/propio/tablas.css' %}">
</head>
<body>
{% block header %}
<div align="center"><h1>Header APP!!!</h1></div>
<section class="menu cid-rjRuOstFkw" once="menu" id="menu2-1k">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="menu-logo">
        <div class="navbar-brand">
          <span class="navbar-logo">
            <a href="http://127.0.0.1:8000/">
              <img src="{% static 'core/images/logoacaestoy-nav.gif' %}" alt="acaestoy" title="" style="height: 3.8rem;">
            </a>
          </span>

        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item dropdown">
          <a class="nav-link link text-info dropdown-toggle display-4" href="" data-toggle="dropdown-submenu" aria-expanded="false">
          Ingresar</a><div class="dropdown-menu"><a class="text-info dropdown-item display-4" href="http://127.0.0.1:8000/ingreso/">Ingreso</a><a class="text-info dropdown-item display-4" href="http://127.0.0.1:8000/registro/">Nueva cuenta</a></div>
        </li>
        <li class="nav-item">
          <a class="nav-link link text-info display-4" href="http://127.0.0.1:8000/busqueda/">Buscar</a>
        </li><li class="nav-item"><a class="nav-link link text-info display-4" href="http://127.0.0.1:8000/mapa/">Mapa</a></li></ul>

      </div>
    </nav>
  </section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}


    <section class="cid-rjqz4M3P0e" id="footer5-u">





      <div class="container">
        <div class="footer-lower">
          <div class="media-container-row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="media-container-row mbr-white">
            <div class="col-md-4">
              <div class="social-list">
                <div class="soc-item">
                  <a href="https://twitter.com" target="_blank">
                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                  </a>
                </div>
                <div class="soc-item">
                  <a href="https://www.facebook.com" target="_blank">
                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                  </a>
                </div>
                <div class="soc-item">
                  <a href="https://instagram.com" target="_blank">
                    <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                  </a>
                </div>



              </div>
            </div> 
                           
            <div class="col-md-6 copyright">
              <p class="mbr-text align-right mbr-fonts-style display-7">
              Desarrollado por</p>
            </div>
            <div class="col-md-2">
              <div class="media">                        
                <img src="{% static 'core/images/logosoftymar150px-pie.gif' %}" alt="softymar" title="">

                <!-- <p>Desarrollado por</p> -->
              </div>
            </div>
            </div>
          </div>
        </div>
      </section>

  <script type="text/javascript" src="{% static 'core/web/assets/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/popper/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/tether/tether.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/smoothscroll/smooth-scroll.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/dropdown/js/script.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/theme/js/script.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/mbr-popup-btns/mbr-popup-btns.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/viewportchecker/jquery.viewportchecker.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/datatables/jquery.data-tables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/datatables/data-tables.bootstrap4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/propio\dptos.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/propio\razas.js' %}"></script>

  <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
{% endblock %}
</body>
</html>