{% extends "base.html" %}
{% block content %}

<section class="cid-rjnDanjg4n" id="image2-a">
    <figure class="mbr-figure container">
        <div class="image-block" style="width: 100%;">


  {% load static %}
            <img src="{% static 'core/images/logoacaestoy-blanco-portada.gif' %}" alt="acaestoy" title="">
            
        </div>
    </figure>
</section>

<section class="features1 cid-rjnAY9Tkhy" id="features1-7">
    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <a href="http://127.0.0.1:8000/reporte/"><span class="mbr-iconfont mbri-edit" style="color: rgb(143, 143, 143); fill: rgb(143, 143, 143);"></span></a>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5"><a href="http://127.0.0.1:8000/reporte/">
                        Reporta</a></h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Accede con tu usuario o crea una nueva cuenta, y publica tu mascota extraviada o la que encontraste. Completa los datos de nuestro reporte, sube algunas fotos, y ¡listo!</p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <a href="http://127.0.0.1:8000/busqueda/"><span class="mbr-iconfont mbri-search" style="color: rgb(143, 143, 143); fill: rgb(143, 143, 143);"></span></a>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5"><a href="http://127.0.0.1:8000/busqueda/">
                        Busca</a></h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Ingresa en nuestro buscador para encontrar la mascota que buscas. Podrás ver todas las mascotas reportadas, o filtrar los resultados de acuerdo a lo que necesites.</p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <a href="http://127.0.0.1:8000/mapa/"><span class="mbr-iconfont mbri-globe" style="color: rgb(143, 143, 143); fill: rgb(143, 143, 143);"></span></a>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5"><a href="http://127.0.0.1:8000/mapa/">
                        Encuentra</a></h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Visita nuestro mapa para ver sobre el mismo las ubicaciones de todas las mascotas reportadas en nuestro sitio. Podrás filtrar los resultados de acuerdo a lo que necesites.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="counters1 counters cid-rjnBsp5Vmr" id="counters1-8">

    <div class="container">
        
        <div class="container pt-4 mt-2">
            <div class="media-container-row">
                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                  3.472</h3>
                            <h4 class="mbr-content-title mbr-fonts-style display-5"><span style="font-weight: normal;">
                                Usuarios</span></h4>
                            
                        </div>
                    </div>
                </div>

                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                  2.974</h3>
                            <h4 class="mbr-content-title mbr-fonts-style display-5"><span style="font-weight: normal;">
                                Mascotas reportadas</span></h4>
                            
                        </div>
                    </div>
                </div>

                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                  2.456</h3>
                            <h4 class="mbr-content-title mbr-fonts-style display-5">
                                Amigos reencontrados</h4>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
   </div>
</section>

{% endblock %}
