{% extends "base.html" %}
{% block content %}

<section class="mbr-section form1 cid-rjLlIcDwd3" id="form1-1g">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    INGRESO DE USUARIOS</h2>
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-6" data-form-type="formoid">
            
                    <form class="mbr-form" action="" method="post" data-form-title="Ingreso Form">
                        {% csrf_token %}
                        <div class="row row-sm-offset">
                            <div class="col-md-6 multi-horizontal" data-for="apodo">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="apodo-form1-1g">Nombre de usuario</label>
                                    <input type="text" class="form-control" name="apodo" data-form-field="apodo" required="" id="apodo-form1-1g">
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm-offset">
                            <div class="col-md-6 multi-horizontal" data-for="contraseña">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="contraseña-form1-1g">Contraseña</label>
                                    <input type="password" class="form-control" name="contraseña" data-form-field="contraseña" required="" id="contraseña-form1-1g">
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                    <label class="custom-control-label" for="defaultLoginFormRemember">Recordarme</label>
                                </div>
                            </div>
                            <div>
                                <a href="">¿Olvidó su contraseña?</a>
                            </div>
                        </div>
            
                        <span class="input-group-btn">
                            <button href="" type="submit" class="btn btn-primary btn-form display-4">INGRESAR</button>
                        </span>

                        <div><hr></div>

                        <div class="row row-sm-offset">
                            <div class="col-md-6 multi-horizontal">
                                <div class="form-group">o ingresar con:   
                                    <a href="#">
                                        <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                    <a href="#">
                                        <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                    <a href="#">
                                        <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                </div>
                            </div>
                    
            </div></form>
        </div>
    </div>
</div>
</section>

{% endblock %}