{% extends "base.html" %}
{% block content %}
<section class="header1 cid-rjqzl3bQ7f" id="header16-x">

    

    

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h3 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-3"></h3>
                
                
                
            </div>
        </div>
    </div>

</section>

<section class="map2 cid-rjqztx7A8F" id="map2-z">

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26211.4075098117!2d-55.92101650956322!3d-34.79522439177671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDQ3JzQyLjgiUyA1NcKwNTQnMTIuNiJX!5e0!3m2!1ses-419!2suy!4v1551406040704" allowfullscreen=""></iframe></div>
        </div>
    </div>
</div>
</section>
{% endblock %}