{% extends "base.html" %}
{% block content %}

<section class="features11 cid-rjXAQpuDCA" id="features11-1g">

    

    

    <div class="container">   
        <div class="col-md-12">
            <h3>¡Reporte ingresado con éxito!</h3>

        </div> 

    </div>          
</section>

{% endblock %}