{% extends "base.html" %}
{% block content %}

<section class="header1 cid-rjqz7JouQH" id="header16-v">

    

    

    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Buscar mascotas
        </h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">
            Busque una mascota y filtre los resultados
        </h3>
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">

        <!--<form action="" method="POST">
            {% csrf_token %}
              {{form}}
              <input type="submit" value="BUSCAR" />
          </form>-->

        <form class="mbr-form" action="" method="post">
          {% csrf_token %}

            <div class="row row-sm-offset">
              <div class="col-md-12 multi-horizontal" data-for="tipo_repo">
                <div class="form-group">
                  <label class="form-control-label" for="tipo_repo"><strong>Tipo de reporte   </strong></label>
                  <label class="radio-inline" for="tipo_repo-0"> 
                    <input type="radio" name="tipo_repo" id="tipo_repo-0" value="EX">Mascota extraviada     
                  </label>
                  <label class="radio-inline" for="tipo_repo-1">
                    <input type="radio" name="tipo_repo" id="tipo_repo-1" value="EN">Mascota encontrada
                  </label>
                </div>
              </div>
            </div>

            <div class="row row-sm-offset">

              <div class="col-md-4 multi-horizontal" data-for="departamento">
                <div class="form-group">
                  <label class="form-control-label mbr-fonts-style display-7" for="departamento-form1-1g">Departamento</label>
                  <div>
                    <select id="departamento" name="departamento" class="form-control">
                    	<option value="">Seleccionar</option>
                    	<option value="AR">Artigas</option>
                    	<option value="CA">Canelones</option>
                    	<option value="CL">Cerro Largo</option>
                    	<option value="CO">Colonia</option>
                    	<option value="DU">Durazno</option>
                    	<option value="FL">Flores</option>
                    	<option value="FA">Florida</option>
                    	<option value="LA">Lavalleja</option>
                    	<option value="MA">Maldonado</option>
                    	<option value="MO">Montevideo</option>
                    	<option value="PA">Paysandú</option>
                    	<option value="RN">Río negro</option>
                    	<option value="RI">Rivera</option>
                    	<option value="RO">Rocha</option>
                    	<option value="SA">Salto</option>
                    	<option value="SJ">San José</option>
                    	<option value="SO">Soriano</option>
                    	<option value="TA">Tacuarembó</option>
                    	<option value="TT">Treinta y Tres</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="col-md-4 multi-horizontal" data-for="especie">
                <div class="form-group">
                  <label class="form-control-label mbr-fonts-style display-7" for="especie-form1-1g">Especie</label>
                  <div>
                    <select id="especie" name="especie" class="form-control">
                    	<option value="">Seleccionar</option>
                    	<option value="PE">Perro</option>
                    	<option value="GA">Gato</option>
                    	<option value="OT">Otros</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-4 multi-horizontal" data-for="color_1">
                <div class="form-group">
                  <label class="form-control-label mbr-fonts-style display-7" for="color_1-form1-1g">Color primario</label>
                  <div>
                    <select id="color_1" name="color_1" class="form-control">
                    	<option value="NA">Seleccionar</option>
                    	<option value="BL">Blanco</option>
                    	<option value="NG">Negro</option>
                    	<option value="GR">Gris o plateado</option>
                    	<option value="BG">Crema, beige, marrón claro</option>
                    	<option value="MR">Marrón oscuro</option>
                    	<option value="RJ">Rojizo</option>
                    	<option value="AM">Amarillo, rubio, dorado</option>
                    	<option value="AZ">Azul</option>
                    	<option value="VR">Verde</option>
                    	<option value="AN">Anaranjado</option>
                    	<option value="OT">Otro</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>

            <span class="input-group-btn">
                <button href="" type="submit" class="btn btn-primary btn-form display-3">VER TODAS</button>
                <button href="" type="submit" class="btn btn-primary btn-form display-3">BUSCAR</button>
            </span>

          </form>

          <div><hr></div>

          {% if 'ok' in request.GET %}
            <p><b><i>Búsqueda Ingresada Correctamente<i></b><p>
          {% endif %}

            </div>
        </div>
    </div>


    <section class="section-table cid-rkJbb4M9fj" id="table1-1g">



      <div class="container container-table">


        <div class="table-wrapper">
          <div class="container">

          </div>

          <div class="container scroll">
            <table class="table" cellspacing="0">

              <tbody>

                <tr> 
                  {% for unanimal in animales %}
                  <td class="body-item mbr-fonts-style display-7">
                    <a href="http://127.0.0.1:8000/reporte_ver/">
                      {{unanimal.imagen}}
                    </a><br>                    
                    {{unanimal.nombre}}<br>
                    {{unanimal.fecha_reportado}}<br>
                    {{unanimal.raza}}
                  </td>
                </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
          <div class="container table-info-container">

          </div>
        </div>
      </div>
    </section>

    <!--     <div class="container">
          <table>
            <tbody>
              <tr>
                <td>
                  <a href="http://127.0.0.1:8000/reporte_ver/">
                    {% load static %}
                    <img src="{% static 'core/images/marronBco1_275x183.jpg' %}">
                  </a>
                </td>
              </tr>
              {% for unperro in perros %}
              <tr>
                <td>{{unperro.nombre}}</td>
              </tr>
              <tr>
                <td>{{unperro.fecha}}</td>
              </tr>
              <tr>
                <td class="last">{{unperro.raza}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div> -->

</section>


{% endblock %}